* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #242121;
  --title-text-color: #c0b9b3;
  --primary-white-color: #f0ebe7;
  --background-color: #a5a5a5;
  --info-background-color: #383740;
}

body {
  background: var(--primary-white-color);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Lato, sans-serif;
  letter-spacing: -0.01em;
}

.sidebar {
  background-color: var(--background-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-foto {
width: 270px;
border-radius: 10px 100px / 120px;
display: block;
margin: auto;
}

 .wrapper {
  background: var(--primary-white-color);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.about-me-conteiner {
  padding-bottom: 110px;
}

.Contacts-conteiner {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  width: 400px;
}

/* .Contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  color: white;
  margin-bottom: 20px;
} */

.Contacts-link {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
 }

.style-type {
   list-style-type: none;
}


.Tech-skills-conteiner {
  width: 400px; 
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
  margin-top: 40px; 
}

.Tech-skills-iten {
 color: var(--primary-text-color);
 font-size: 18px;
 margin-left: 20px;
}

.Tech-skills-text {
 color: var(--primary-text-color);
 font-size: 18px;
 font-weight: 400;
 line-height: 1.33;
}

.Soft-skills-conteine {
    width: 400px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
    margin-top: 40px;
    }

/* .Soft-skills-titls {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
} */

.Soft-skills-iten {
  margin-left: 15px;
}

.Soft-skills-text {
 color: var(--primary-text-color);
 font-size: 18px;
 line-height: 1.33;
 }

.Language-skills-conteine {
  width: 400px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
  margin-top: 40px;
}

.Language-skills-iten{
  margin-left: 15px;
}

.profession {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;

}
.name {
  text-align: center;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 1.97;
}

.summary-title{
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-left: 60px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  }

  .summary-description{
  display: block;
  color: var(--primary-white-color);
  margin-top: 30px;
  padding-right: 80px;
  padding-left: 40px;
  font-size: 22px;
  line-height: 1.5;
  }

.info-conteiner {
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: var(--info-background-color);
}

.about-me-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 50px;
  color: var(--title-text-color);
  background-color: var(--info-background-color);
  padding: 10px;
}

.projects-link {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
 }

.tech-name {
  display: block;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}

.projects-iten {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 17px;
  font-weight: 700;
}

.projects-container {
  padding-left: 50px;
  padding-right: 50px;
}

.profession-title {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  margin-top: 10px;
  margin-left: 10px;
}

.profession-company {
  color: var(--primary-text-color);
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  }

.profession-time {
  color: var(--primary-text-color);
  margin-left: 10px;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1.33;
}

.profession-divider {
  color: var(--primary-text-color);
}

.profession-quties {
  margin-bottom: 30px;
  margin-top: 14px;
  list-style-type: none
}

.pofession-quties-iten {
  color: var(--primary-text-color);
  margin-left: 10px;
  margin-right: 50px;
  font-size: 18px;
  line-height: 1.33;
}

.dz {
  color: var(--primary-text-color);
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}


