* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0ebe7;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Lato, sans-serif;
}

.sidebar {
  background-color: #aaa7a5;;
  /* width: 370px; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-foto {
width: 270px;
border-radius: 10px 100px / 120px;
display: block;
margin: auto;
}


.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}


.about-me-conteiner {
  /* padding-left: 90px;
  padding-right: 90px; */
  /* padding-top: 10px; */
  padding-bottom: 110px;
}

.Contacts-conteiner {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  width: 400px;
}

.Contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-bottom: 20px;
}

.Contacts-link {
  color: #242121;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
 }

.style-type {
   list-style-type: none;
}

.Contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin-right: 10px;
}
.Tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
}

.Tech-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
  width: 400px; 
  margin-top: 40px;
}

.Tech-skills-iten {
 color: #242121;
 font-size: 18px;
margin-left: 20px;
}

.Tech-skills-text {
 color: #242121;
 font-size: 18px;
 font-weight: 400;
 line-height: 24px;
}

.Soft-skills-conteine {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 55px;
      width: 400px;
      margin-top: 40px;
    }

.Soft-skills-titls {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: white;
}

.Soft-skills-iten {
  margin-left: 15px;
}

.Soft-skills-text {
 color: #242121;
 font-size: 18px;
 font-weight: 400;
 line-height: 24px;
 }

.Language-skills-conteine{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
  width: 400px;
  margin-top: 40px;
}

.Language-skills-iten{
  margin-left: 15px;
}

.profession {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

}
.name {
  text-align: center;
  text-transform: uppercase;
  color: #f0ebe7;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info-conteiner {
  padding-bottom: 200px;
  padding-top: 50px;
  background-color: #383740;
}

.about-me-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 50px;
  color: #f0ebe7;
  background-color: #383740;
  padding: 10px;
}

.projects-link {
  color: #242121;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
 }

.tech-name {
  display: block;
  color: #242121;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.projects-iten {
  margin-bottom: 10px;
  margin-right: 50px;
  font-weight: 700;
  margin-left: 17px;
  list-style-type: none
}

.projects-container {
  padding-left: 50px;
  padding-right: 50px;
}
.profession-title {
  color: #242121;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-left: 10px;
}

.profession-company {
  color: #242121;
  display: block;
  margin-left: 10px;
  font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
}

.profession-time {
  color: #242121;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}

.profession-divider {
  color: #242121;
}

.profession-quties {
  margin-bottom: 30px;
  margin-top: 14px;
  list-style-type: none
}

.pofession-quties-iten {
  color: #242121;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.dz {
  color: #242121;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.Tech-skills-tyter {
  font-size: 30px;
  font-weight: 400;
}

.mein-conteiner {
  display: flex;
  flex-direction: row;
}

